<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Aniversario de Miguel</title>
</head>
<body>
<div class="card text-bg-primary mb-3">
  <div class="card-body">
    <h1> Sistema Gerenciador de Convidados</h1>
  </div>
</div> 
 <h4>
<nav class="navbar navbar-expand-lg bg-light">
  
  <div class="container-fluid">
  
    <a class="navbar-brand" href="#">Menu</a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/deletar">Deletar Participante</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listar">Listar Participantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/atualizar">Editar Participante</a>
        </li>
      </ul>
      </h4>
    </div>
  </div>
  
</nav>

<div class="row">
      <div class="col-sm-6" style="max-width: 35rem;">
        <div class="card">
          <div class="card-body"><h2>Cadastro de Adultos</h2>
            <p class="card-text">Se sua idade for <b>SUPERIOR</b> a 12 anos, este é seu espaço para nos mandar algumas informações e confirmar sua presença na feste de Miguelito.</p>
            <a href="/cadastrar" class="btn btn-primary">Ir para pagina de cadastro</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6" style="max-width: 35rem;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><h2>Cadastro de Crianças</h2>
            <p class="card-text">Se sua idade for <b> IGUAL OU INFERIOR</b> a 12 anos, este é seu espaço para nos mandar algumas informações e confirmar sua presença na feste de Miguelito.</p>
            <a href="/cadastrar/crianca" class="btn btn-primary">Ir para pagina de cadastroe</a>
          </div>
        </div>
      </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>